.DS_Store

myScripts/CommandAssistant/cassfiles/CommandResult.cass
myScripts/CommandAssistant/cassfiles/CommandListHistory.cass
myScripts/CommandAssistant/cassfiles/CommandResultHistory.cass

myScripts/Translator/Const.vim
myScripts/Translator/LocalToken.vim
myScripts/Translator/TrsFiles/en.trs
myScripts/Translator/TrsFiles/ja.trs

myScripts/vMail/Const.vim
myScripts/vMail/Const.py
myScripts/vMail/Const.pyc
